{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load sidebar %}

    <div class="container">
        <div class="row">
            <!-- Latest Posts -->
            <main class="posts-listing col-lg-8">
                <div class="container">
                    <div class="row">
                        {% for post in posts %}
                            <!-- post -->
                                <div class="post col-xl-6">
                                <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img
                                        src="{{ post.photo.url }}" alt="..."
                                        class="img-fluid"></a></div>
                                <div class="post-details">
                                    <div class="post-meta d-flex justify-content-between">
                                        <div class="date meta-last">{{ post.created_at|date:"d M" }}
                                            | {{ post.created_at|date:"Y" }}</div>
                                        <div class="category">
                                            {% for cat in post.category.all %}
                                                <a href="{{ cat.get_absolute_url }}">{{ cat }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <a href="{{ post.get_absolute_url }}">
                                        <h3 class="h4">{{ post.title }}</h3></a>
                                    <p class="text-muted">{{ post.content|truncatewords_html:40|safe }}</p>
                                    <footer class="post-footer d-flex align-items-center"><a href="#"
                                                                                             class="author d-flex align-items-center flex-wrap">
{#                                        <div class="avatar"><img src="{{ post.user.profile_pic.url }}" alt="..."#}
{#                                                                 class="img-fluid"></div>#}
                                        <div class="title"><span>{{ post.user.username }}</span></div>
                                    </a>
                                        <div class="date"><i class="icon-clock"></i>{{ post.created_at|timesince }}
                                            ago
                                        </div>
                                        <div class="comments meta-last"><i
                                                class="icon-comment"></i>{{ post.comments }}</div>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Pagination -->
                    {% include 'inc/_pagination.html' %}
                </div>
            </main>
            <aside class="col-lg-4">
                <!-- Widget [Search Bar Widget]-->
                <div class="widget search">
                    <header>
                        <h3 class="h6">Search the blog</h3>
                    </header>
                    <form action="{% url 'search' %}" method="get" class="search-form">
                        <div class="form-group">
                            <input type="search" name="s" placeholder="What are you looking for?">
                            <button type="submit" class="submit"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
                <!-- Widget [Latest Posts Widget] -->
                {% get_popular %}
                <!-- Widget [Categories Widget]-->
                {% get_cat %}
                <!-- Widget [Tags Cloud Widget]-->
                {% get_tag %}
            </aside>
        </div>
    </div>


{% endblock %}